{% extends 'AppBundle::layout.html.twig' %}

{% block core %}
    <div class="theme-showcase" role="main">
        <div class="jumbotron">
            <h1 style="text-align: center; font-size: 24px">Rechercher un véhicule</h1>
            <div class="row">
                {{ form_start(form) }}
                {% form_theme form 'AppBundle:form:fields.html.twig' %}
                {{ form_widget(form) }}
                <div class="pull-right">
                    <input type="submit" value="Rechercher" class="btn btn-success" />
                </div>
                {{ form_end(form) }}
            </div>
            <div style="text-align: center">
                <img src="{{ asset('img/psa.png') }}" alt="PSA" width="70" style="margin-right: 20px"/>
                <img src="{{ asset('img/sine.png') }}" alt="Sineo" width="70"/>
            </div>
        </div>

        <div class="row">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-danger alert-dismissible flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for flash_message in app.session.flashBag.get('warning') %}
                <div class="alert alert-warning alert-dismissible flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>

    {% if vehicle is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center">{{ vehicle.mark  ~ ' ' ~ vehicle.model ~ ' (' ~ vehicle.registration ~ ')'}}</h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
                        avancement
                        <span class="sr-only"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="text-center">
                        <span class="col-md-1"></span>
                        <h2><span class="col-md-10 label label-info">Mécanique</span></h2>
                        <span class="col-md-1"></span>
                    </div>
                </div>
                <br>

                {% for intervention in vehicle.interventions if intervention.intervention.typeIntervention.denomination == 'Mécanique' %}

                    {% set class = '' %}
                    {% set icon = '' %}

                    {% if intervention.state == 'toStart' %}
                        {% set class = 'has-error' %}
                        {% set icon = 'remove' %}
                    {% elseif intervention.state == 'inProgress' %}
                        {% set class = 'has-warning' %}
                        {% set icon = 'repeat' %}
                    {% else %}
                        {% set class = 'has-success' %}
                        {% set icon = 'ok' %}
                    {% endif %}

                    <div class="row {{ class }} has-feedback">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">{{ intervention.intervention.denomination }}</div>
                        <div class="col-md-5">
                            {{ intervention.state|trans }}
                            <span class="glyphicon glyphicon-{{ icon }} form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="text-center">
                        <span class="col-md-1"></span>
                        <h2><span class="col-md-10 label label-info">Carosserie</span></h2>
                        <span class="col-md-1"></span>
                    </div>
                </div>
                <br>

                {% for intervention in vehicle.interventions if intervention.intervention.typeIntervention.denomination == 'Carrosserie' %}

                    {% set class = '' %}
                    {% set icon = '' %}

                    {% if intervention.state == 'toStart' %}
                        {% set class = 'has-error' %}
                        {% set icon = 'remove' %}
                    {% elseif intervention.state == 'inProgress' %}
                        {% set class = 'has-warning' %}
                        {% set icon = 'repeat' %}
                    {% else %}
                        {% set class = 'has-success' %}
                        {% set icon = 'ok' %}
                    {% endif %}

                    <div class="row {{ class }} has-feedback">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">{{ intervention.intervention.denomination }}</div>
                        <div class="col-md-5">
                            {{ intervention.state|trans }}
                            <span class="glyphicon glyphicon-{{ icon }} form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="text-center">
                        <span class="col-md-1"></span>
                        <h2><span class="col-md-10 label label-info">Intérieur</span></h2>
                        <span class="col-md-1"></span>
                    </div>
                </div>
                <br>

                {% for intervention in vehicle.interventions if intervention.intervention.typeIntervention.denomination == 'Intérieur' %}

                    {% set class = '' %}
                    {% set icon = '' %}

                    {% if intervention.state == 'toStart' %}
                        {% set class = 'has-error' %}
                        {% set icon = 'remove' %}
                    {% elseif intervention.state == 'inProgress' %}
                        {% set class = 'has-warning' %}
                        {% set icon = 'repeat' %}
                    {% else %}
                        {% set class = 'has-success' %}
                        {% set icon = 'ok' %}
                    {% endif %}

                    <div class="row {{ class }} has-feedback">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">{{ intervention.intervention.denomination }}</div>
                        <div class="col-md-5">
                            {{ intervention.state|trans }}
                            <span class="glyphicon glyphicon-{{ icon }} form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="text-center">
                        <span class="col-md-1"></span>
                        <h2><span class="col-md-10 label label-info">Nettoyage</span></h2>
                        <span class="col-md-1"></span>
                    </div>
                </div>
                <br>

                {% for intervention in vehicle.interventions if intervention.intervention.typeIntervention.denomination == 'Nettoyage' %}

                    {% set class = '' %}
                    {% set icon = '' %}

                    {% if intervention.state == 'toStart' %}
                        {% set class = 'has-error' %}
                        {% set icon = 'remove' %}
                    {% elseif intervention.state == 'inProgress' %}
                        {% set class = 'has-warning' %}
                        {% set icon = 'repeat' %}
                    {% else %}
                        {% set class = 'has-success' %}
                        {% set icon = 'ok' %}
                    {% endif %}

                    <div class="row {{ class }} has-feedback">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">{{ intervention.intervention.denomination }}</div>
                        <div class="col-md-5">
                            {{ intervention.state|trans }}
                            <span class="glyphicon glyphicon-{{ icon }} form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="text-center">
                        <span class="col-md-1"></span>
                        <h2><span class="col-md-10 label label-info">Photos</span></h2>
                        <span class="col-md-1"></span>
                    </div>
                </div>
                <br>

                {% if vehicle.pictures is not empty %}
                    {% set class = 'has-success' %}
                    {% set icon = 'ok' %}
                    {% set text = 'terminé' %}
                {% else %}
                    {% set class = 'has-error' %}
                    {% set icon = 'remove' %}
                    {% set text = 'à lancer' %}
                {% endif %}
                <div class="row {{ class }} has-feedback">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">Faire les photos du véhicule</div>
                    <div class="col-md-5">
                        {{ text }}
                        <span class="glyphicon glyphicon-{{ icon }} form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}