{% extends 'AppBundle::layout.html.twig' %}

{% block core %}

    <div class="container theme-showcase" role="main">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible flash-notice" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

    <div class="container">

        <div class="row center-block text-center">
            <h3>Liste des véhicules pouvant être expertisé</h3>
        </div>

        <div class="row center-block text-center">
            <a href="{{ path('add-vehicle') }}" class="btn btn-success">
                Ajouter un nouveau véhicule
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </div>
        <hr>

        <div class="row">
            {% if vehicles is empty %}
                <div class="alert alert-warning text-center" role="alert">Aucun véhicule n'est actuellement disponible.</div>
            {% else %}
                {% for vehicle in vehicles %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ vehicle.mark  ~ ' ' ~ vehicle.type ~ ' (' ~ vehicle.registration ~ ')'}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">- Marque : {{ vehicle.mark }}</div>
                                <div class="col-md-5">- Immatriculation : {{ vehicle.registration }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Type : {{ vehicle.type }}</div>
                                <div class="col-md-5">- CV : {{ vehicle.cv }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- N° châssis : {{ vehicle.frame }}</div>
                                <div class="col-md-5">- Couleur : {{ vehicle.color }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Kilomètres parcouru : {{ vehicle.kilometerTraveled }}</div>
                                <div class="col-md-5">- Kilomètres au compteur : {{ vehicle.kilometerOnCounter }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Mise en service : {{ vehicle.releaseDate }}</div>
                                <div class="col-md-5">- Bon SAP : {{ vehicle.sapVoucher }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <a href="{{ path('expertise', {'id': vehicle.id}) }}" class="btn btn-primary">
                                        Procéder à l'expertise
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}