{% extends 'AppBundle::layout.html.twig' %}

{% block core %}

    <div class="container center-block" role="main">
        <div class="jumbotron">
            <h3 class="text-center">
                {{ vehicle.mark ~ ' ' ~ vehicle.type }}
                <a class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </h3>
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success alert-dismissible flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-7"><b>- Marque :</b> {{ vehicle.mark }}</div>
                <div class="col-md-5"><b>- Immatriculation :</b> {{ vehicle.registration }}</div>
            </div>
            <div class="row">
                <div class="col-md-7"><b>- Type :</b> {{ vehicle.type }}</div>
                <div class="col-md-5"><b>- CV :</b> {{ vehicle.cv }}</div>
            </div>
            <div class="row">
                <div class="col-md-7"><b>- N° châssis :</b> {{ vehicle.frame }}</div>
                <div class="col-md-5"><b>- Couleur :</b> {{ vehicle.color }}</div>
            </div>
            <div class="row">
                <div class="col-md-7"><b>- Kilomètres parcouru :</b> {{ vehicle.kilometerTraveled }}</div>
                <div class="col-md-5"><b>- Kilomètres au compteur :</b> {{ vehicle.kilometerOnCounter }}</div>
            </div>
            <div class="row">
                <div class="col-md-7"><b>- Mise en service :</b> {{ vehicle.releaseDate }}</div>
                <div class="col-md-5"><b>- Bon SAP :</b> {{ vehicle.sapVoucher }}</div>
            </div>
            <div class="row">
                <div class="col-md-7"><b>- Essence :</b> {{ vehicle.fuel.denomination }}</div>
            </div>
        </div>

        <div class="row text-center center-block">
            <ul class="nav nav-pills" role="tablist">
                <li class="col-md-3"></li>
                <li role="presentation" class="active col-md-2"><a href="#mecanique" role="tab" data-toggle="tab">Mécanique</a></li>
                <li role="presentation" class="col-md-2"><a href="#carosserie" role="tab" data-toggle="tab">Carosserie</a></li>
                <li role="presentation" class="col-md-2"><a href="#interrieur" role="tab" data-toggle="tab">Interrieur</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="tab-content text-center">
                    <div role="tabpanel" class="tab-pane active" id="mecanique">
                {{ form_start(formIntervention) }}
                        {% for interv in formIntervention.vars.data %}
                            <br>
                            <div class="col-md-5 text-right">
                                <p><b>{{ interv.denomination }}</b></p>
                            </div>
                            <div class="col-md-7">
                                <input type="checkbox" name="checkbox" value="{{ interv.id }}" data-toggle="toggle" data-on="Oui" data-off="Non" data-onstyle="success" data-offstyle="danger">
                            </div>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="carosserie">
                        <br>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>PC AV</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord gauche
                                <input type= "radio" name="tarif" value="jour"> raccord droit
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture pc
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>PC AR</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord gauche
                                <input type= "radio" name="tarif" value="jour"> raccord droit
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture pc
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Capôt</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Aile AV gauche</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Aile AV droite</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Porte AV gauche</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Porte AV droite</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Aile AR gauche</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Aile AR droite</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Porte AR gauche</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Porte AR droite</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Coffre</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Toit</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "radio" name="tarif" value="jour"> raccord
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Bas de caisse gauche</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Bas de caisse droit</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "radio" name="tarif" value="jour"> tôlerie
                                <input type= "radio" name="tarif" value="jour"> peinture
                                <input type= "radio" name="tarif" value="jour"> redressage + peinture
                                <input type= "radio" name="tarif" value="jour"> changer + peinture
                                <input type= "radio" name="tarif" value="jour"> non
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Optique AV</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "radio" name="tarif" value="jour"> gauche OK
                                <input type= "radio" name="tarif" value="jour"> gauche à changer
                                <input type= "radio" name="tarif" value="jour"> droit OK
                                <input type= "radio" name="tarif" value="jour"> droit à changer
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Optique AR</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "radio" name="tarif" value="jour"> gauche OK
                                <input type= "radio" name="tarif" value="jour"> gauche à changer
                                <input type= "radio" name="tarif" value="jour"> droit OK
                                <input type= "radio" name="tarif" value="jour"> droit à changer
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Bas de caisse droit</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "radio" name="tarif" value="jour"> OK
                                <input type= "radio" name="tarif" value="jour"> réparation impact
                                <input type= "radio" name="tarif" value="jour"> à changer
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Réparation jante alu</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "checkbox" name="tarif" value="jour"> AV droite
                                <input type= "checkbox" name="tarif" value="jour"> AV gauche
                                <input type= "checkbox" name="tarif" value="jour"> AR droit
                                <input type= "checkbox" name="tarif" value="jour"> AR gauche
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="interrieur">
                        <br>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Réparation tableau de bord</b></p>
                            </div>
                            <div class="col-md-10">
                                <input type="checkbox" name="checkbox" value="" data-toggle="toggle" data-on="Oui" data-off="Non" data-onstyle="success" data-offstyle="danger">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Réparation interrieur de porte</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "checkbox" name="tarif" value="jour"> AV conducteur
                                <input type= "checkbox" name="tarif" value="jour"> AV passager
                                <input type= "checkbox" name="tarif" value="jour"> AR droit
                                <input type= "checkbox" name="tarif" value="jour"> AR gauche
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Réparation sellerie</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "checkbox" name="tarif" value="jour"> Assise AV conducteur
                                <input type= "checkbox" name="tarif" value="jour"> Dossier AV conducteur
                                <input type= "checkbox" name="tarif" value="jour"> Assise AV passager
                                <input type= "checkbox" name="tarif" value="jour"> Dossier AV passager
                                <input type= "checkbox" name="tarif" value="jour"> Dossier banquette AR
                                <input type= "checkbox" name="tarif" value="jour"> Dossier banquette AR
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <p><b>Moquette de sol</b></p>
                            </div>
                            <div class="col-md-10 text-center">
                                <input type= "checkbox" name="tarif" value="jour"> AV conducteur
                                <input type= "checkbox" name="tarif" value="jour"> AV passager
                                <input type= "checkbox" name="tarif" value="jour"> AR
                                <input type= "checkbox" name="tarif" value="jour"> coffre
                            </div>
                        </div>

                    </div>

                    <br>
                    <input type="submit" value="Enregistrer l'expertise" class="btn btn-success" />
                {{ form_end(formIntervention) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        {% form_theme form 'AppBundle:form:fields.html.twig' %}
        {{ form_start(form, {'attr': {'class': ''} }) }}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ vehicle.mark ~ ' ' ~ vehicle.type }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Mettre à jour le véhicule" class="btn btn-success" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Retour</button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#appbundle_expertise_interventions');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_intervention" class="btn btn-warning">' +
                    'Ajouter une intervention ' +
                    '<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"/>' +
                    '</a>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                addCategory($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addCategory($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addCategory($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Intervention supplémnentaire n°' + (index+1))
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}