{% extends 'AppBundle::layout.html.twig' %}

{% block core %}

    <div class="container theme-showcase" role="main">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible flash-notice" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        {% if type != 'onRoad' and type != 'change' %}
            <div class="row center-block text-center">
                <h3>Liste des véhicules pouvant être traités</h3>
            </div>
        {% endif %}
        {% if type == 'change' %}
            <div class="row center-block text-center">
                <h3>Liste des véhicules pouvant changer d'atelier</h3>
            </div>
        {% endif %}

        {% if type == 'transport' %}
            <div class="row center-block text-center">
                <p id = "validateTransport" class="btn btn-success">
                    Valider le transport des véhicules
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </p>
            </div>
        {% endif %}

        {% if type == 'onRoad' %}
            <div class="row center-block text-center">
                <p id = "validateDelivery" class="btn btn-success">
                    Valider la bonne livraison des véhicules
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </p>
            </div>
        {% endif %}

        {% if authorizeCreation %}
            <div class="row center-block text-center">
                <a href="{{ path('add-vehicle') }}" class="btn btn-success">
                    Ajouter un nouveau véhicule
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            </div>
        {% endif %}

        <hr>

        <div class="row">
            {% if vehicles is empty %}
                <div class="alert alert-warning text-center" role="alert">Aucun véhicule n'est actuellement disponible.</div>
            {% else %}

                {% set traductionAteliers = { 'mechanical':'Mécanique', 'cosmectic':'Cosmétique', 'cleaning':'Nettoyage', 'photo':'Photo', 'bodywork':'Carosserie'} %}
                {% for vehicle in vehicles %}
                    <div class="panel panel-warning">
                        <div class="panel-heading" {% if (date("now"|date("m/d/Y")).diff(date(vehicle.sendDate))).days > 4 %}style="background-color: lightcoral"><b>vehicule prêt à être expédié depuis {{ (date("now"|date("m/d/Y")).diff(date(vehicle.sendDate))).days  }} jours</b> {% else %}>{% endif %}
                            <h3 class="panel-title">{{ vehicle.mark  ~ ' ' ~ vehicle.model ~ ' (' ~ vehicle.registration ~ ')'}} {% if type == 'change' %}{{ ' / Atelier ' ~ traductionAteliers[vehicle.state]  }} {% endif %}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">- Marque : {{ vehicle.mark }}</div>
                                <div class="col-md-5">- Modèle : {{ vehicle.model }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Immatriculation : {{ vehicle.registration }}</div>
                                <div class="col-md-5">- Type : {{ vehicle.type }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- CV : {{ vehicle.cv }}</div>
                                <div class="col-md-5">- N° châssis : {{ vehicle.frame }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Couleur : {{ vehicle.color }}</div>
                                <div class="col-md-5">- Kilomètres parcouru : {{ vehicle.kilometerTraveled }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Kilomètres au compteur : {{ vehicle.kilometerOnCounter }}</div>
                                <div class="col-md-5">- Mise en service : {{ vehicle.releaseDate|date('d/m/Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Bon SAP : {{ vehicle.sapVoucher }}</div>
                                <div class="col-md-5">- Essence : {{ vehicle.fuel.denomination }}</div>
                            </div>
                            <div class="row">

                            {% if vehicle.state == "transport" %}
                                <br>
                                <div class="col-md-7">
                                    <b>Mise à disposition le {{ vehicle.sendDate|date('d/m/Y') }} chez </b>
                                </div>
                                <div class="col-md-5">
                                    <b>Récupérer le véhicule</b>
                                    <input type="checkbox" class="transport-{{ vehicle.id }}">
                                </div>
                            {% elseif (vehicle.state != 'road' and type != 'change') %}
                                    <div class="col-md-5">
                                        <a href="{{ path(route, {type: type, id: vehicle.id}) }}" class="btn btn-primary">
                                            Procéder
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </a>
                                    </div>
                            {% endif %}
                                {% if type == 'change' %}
                                    <div class="col-md-5">
                                        <br>
                                        <form>
                                            <input type="button" class="validateRedirect btn btn-link" value="Valider l'envoi vers l'atelier" />
                                            <select class="redirect-{{ vehicle.id }}">
                                                {% for trans in transitions[vehicle.id] %}
                                                    <option value="{{ trans }}"><p style="font-size: x-large">{{ traductionAteliers[trans] }}</p></option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.validateRedirect').click(function() {
                var select = $("[class^='redirect-']");
                var idToSave = select.attr('class').split('-')[1];
                var whereToGo = 'to_'+select.val();

                $.ajax({
                    url: '{{ path('redirect-vehicle')}}',
                    data: "idAndPlace="+idToSave+'/'+whereToGo,
                    type: 'POST',
                    success: function(data) {
                        window.location.reload();
                    },
                    error: function(data) {
                        alert("error redirect (ajax)");
                    }
                });

            })
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#validateTransport').click(function() {
                var tabIdTransport = [];
                $("[class^='transport-']").each(function() {
                    if(this.checked){
                        var idToSave = $(this).attr('class').split('-')[1];
                        tabIdTransport.push(idToSave);
                    }
                });
                if(tabIdTransport.length > 0){
                    $.ajax({
                        url: '{{ path('process-transport') }}',
                        data: "tabIdTransport="+tabIdTransport,
                        type: 'POST',
                        success: function(data) {
                            window.location.reload();
                        },
                        error: function(data) {
                            alert("error create transport (ajax)");
                        }
                    });
                }
            })
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#validateDelivery').click(function() {
                $.ajax({
                    url: '{{ path('validate-transport',{'userId': userId.id}) }}',
                    type: 'POST',
                    success: function(data) {
                        window.location.reload();
                    },
                    error: function(data) {
                        alert("error validate transport (ajax)");
                    }
                });
            })
        });
    </script>

    <script>
        //mise a jour date
        $(document).ready(function() {
            $('#majDateExp').click(function(e) {
                e.preventDefault();
                var dateExp = $('#dateExp').val();
                $.ajax({
                    url: 'http://localhost:8888/sineo/web/app_dev.php/updateDateControl/' + vehicleId,
                    data: 'date=' + dateExp,
                    type: 'POST',
                    success: function(data) {
                        window.location.reload();
                    },
                    error: function(data) {
                        alert("La mise à jour de la date a échoué");
                    }
                });
            })
        })
    </script>
{% endblock %}
