{% extends 'AppBundle::layout.html.twig' %}

{% block core %}

    <div class="container theme-showcase" role="main">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible flash-notice" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

    <div class="container">

        <div class="row center-block text-center">
            <h3>Liste des véhicules pouvant être traités</h3>
        </div>

        <div class="row">
            {% if vehicles is empty %}
                <div class="alert alert-warning text-center" role="alert">Aucun véhicule n'est actuellement disponible.</div>
            {% else %}
                {% for vehicle in vehicles %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ vehicle.mark  ~ ' ' ~ vehicle.model ~ ' (' ~ vehicle.registration ~ ')'}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">- Marque : {{ vehicle.mark }}</div>
                                <div class="col-md-5">- Modèle : {{ vehicle.model }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Immatriculation : {{ vehicle.registration }}</div>
                                <div class="col-md-5">- Type : {{ vehicle.type }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- CV : {{ vehicle.cv }}</div>
                                <div class="col-md-5">- N° châssis : {{ vehicle.frame }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Couleur : {{ vehicle.color }}</div>
                                <div class="col-md-5">- Kilomètres parcouru : {{ vehicle.kilometerTraveled }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Kilomètres au compteur : {{ vehicle.kilometerOnCounter }}</div>
                                <div class="col-md-5">- Mise en service : {{ vehicle.releaseDate|date('d/m/Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">- Bon SAP : {{ vehicle.sapVoucher }}</div>
                                <div class="col-md-5">- Essence : {{ vehicle.fuel.denomination }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Envoyer vers autre atelier
                                            <span class="caret"></span>
                                        </button>
                                        <!-- dropdown permettant changement atelier -->
                                        <ul class="dropdown-menu">
                                            {% for interv in transitions[vehicle.id] %}
                                                {% set chemin = 'redirect-'~interv~'/'~vehicle.id %}
                                                <li><a href="{{ chemin }}">{{ interv }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <a href="{{ path('process-mechanical', {'id': vehicle.id}) }}" class="btn btn-primary">
                                        Procéder aux interventions
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}