{% extends 'AppBundle::layout.html.twig' %}

{% block core %}
    <div class="container theme-showcase" role="main">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible flash-notice" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        {% for intervention in interventions %}
            <div class="row" data-intervention-id="{{ intervention.id }}">
                <br>
                <div class="col-md-2 text-right">
                    <p><b>{{ intervention.intervention.denomination }}</b></p>
                </div>
                {% if intervention.answers.0 != true %}
                    <div class="col-md-4"></div>
                {% endif %}
                <div class="col-md-3">
                    <div class="btn-group btn-state" role="group" data-id="{{ intervention.id }}" data-location="{{ path('mechanical') }}">
                        <button
                            type="button"
                            class="btn btn-danger {% if intervention.state == "toStart" %}active{% endif %}"
                            data-state="toStart">
                            A lancer
                        </button>
                        <button
                            type="button"
                            class="btn btn-warning {% if intervention.state == "inProgress" %}active{% endif %}"
                            data-state="inProgress">
                            En cours
                        </button>
                        <button
                            type="button"
                            class="btn btn-success {% if intervention.state == "done" %}active{% endif %}"
                            data-state="done">
                            Terminé
                        </button>
                    </div>
                </div>

                <div class="comment-part col-md-{% if intervention.answers.0 != true %}2{% else %}6{% endif %}" data-id="{{ intervention.id }}">
                    <a class="btn btn-warning set-comment" data-target="#modal-{{ intervention.id }}" data-toggle="modal">
                        <span class="content">Ajouter un commentaire</span>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>

                    <div class="modal fade text-left comment-modal" id="modal-{{ intervention.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Commentaire</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea name="comment" class="form-control">{{ intervention.comment }}</textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Retour</button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Confirmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.btn-group .btn').click(function() {
                var interventionId = $(this).parent().data('id')
                    state = $(this).data('state')
                    that = this;

                $.ajax({
                    url: 'http://www.sineo-services.com/sineovo/web/app_dev.php/vehicle-intervention/update-state/' + interventionId,
                    data: 'state=' + state,
                    type: 'POST',
                    success: function(data) {
                        if (data == 'allDone') {
                            window.location.replace($(that).parent().data('location'));
                        }

                        $(that).parent().find('.btn').each(function() {
                            $(this).removeClass('active');
                        });

                        $(that).addClass('active');
                    },
                    error: function(data) {
                        alert("Vous n'êtes pas autorisé à passer dans cet état.");
                    }
                });
            });

            $('.comment-modal .btn-success').click(function() {
                var interventionId = $(this).closest('.comment-part').data('id'),
                    comment = $(this).closest('.modal-content').find('textarea').val();

                $.ajax({
                    url: 'http://www.sineo-services.com/sineovo/web/app_dev.php/vehicle-intervention/update-comment/' + interventionId,
                    data: 'comment=' + comment,
                    type: 'POST'
                });
            });
        });
    </script>
{% endblock %}